*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 325px;
    min-height: 100vh;
}

.content {
    margin: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    border: none;
    background-color: steelblue;
    font-size: 24px;
    padding: 16px;
    margin-left: 10px;
    height: 65px;
    margin-top: 10px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:tomato;
}

input {
    border: none;
    background-color: #eaeaea;
    color: black;
    padding: 15px;
    font-size: 24px;
    margin-top: 10px;
}

#pertanyaan {
    text-align: center;
    flex-direction: column;
    color: black;
    font-size: 1.6em;
    font-weight: 500;
}

@media (max-width: 412px) {
    .wrapper {
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 83%;
    }

    .row {
        padding: 20px;
        flex-direction: column;
    }

    input {
        padding-left: 15px;
        flex-direction: column;
    }

    button {
        margin-top: 20px;
        margin-right: 100px;
        margin-left: 100px;
    }
}

#loaders {
    display: none;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    position: absolute;
    border-top: 10px solid steelblue;
    border-radius: 50%;
    top: 50%;
    left: 45%;
    z-index: 1;
    animation: 1s spin infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}